@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import "../vendor/iconfont/css/fontello.css";

body {
    overflow-y: scroll;
}

* {
    font-family: "Ubuntu", serif;
    font-weight: 300;
    font-size: 13px;
    line-height: 13px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    padding: 10px;
    background: lightgray;
    border-bottom: 1px solid darkgray;
}

pre {
    border: 1px solid darkgray;
    border-radius: 4px;
    padding: 4px;
    color: darkred;
    background: lightgray;
    margin: 2px;
    overflow: hidden;
    overflow-x: auto;
}

.icon {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: never;
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

#head {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

#log {
    padding: 3px;
    margin-top: 37px;
}

.request {
    border: 1px solid lightgray;
    border-radius: 3px;
    margin-top: 5px;
}

.request:first-child {
    margin-top: 0;
}

.request-head {
    padding: 5px;
    background: lightgray;
    cursor: pointer;
}

.request-body {
    height: 0;
    overflow: hidden;
}

.open .request-body {
    height: auto;
}

.requestUri {
    font-size: 14px;
    line-height: 150%;
    font-weight: 600;
}

.requestId {
    font-style: italic;
    color: darkgray;
}

.logger-group {
    margin: 5px;
}
.logger-group-head {
    background: lightgray;
    padding: 7px;
    margin-bottom: 5px;
}

.logger-name {
    font-weight: 400;
    line-height: 130%;
}

.log-entries {
    margin-left: 5px;
}

.log-entry {
    margin-bottom: 3px;
    border: 1px dashed darkgray;
}

.log-entry:last-child {
    margin-bottom: 0;
}
.log-entry-head, .log-entry-context {
    padding: 5px;
}

.log-entry-context {
    border-top: 1px dashed darkgray;
}

.severity-info, .severity-info > div {
    background: lightblue;
    border-color: cornflowerblue;
}

.request-uri:before {
    font-size: 16px;
}

.request.info {
    border-color: cornflowerblue;
}

.severity-notice, .severity-notice > div {
    background: lightyellow;
    border-color: yellow;
}

.request.notice {
    border-color: yellow;
}

.severity-warning, .severity-warning > div {
    background: #fdceb8;
    border-color: coral;
}

.request.warning {
    border-color: coral;
}

.severity-error, .severity-error > div,
.severity-critical, .severity-critical > div,
.severity-alert, .severity-alert > div,
.severity-emergency, .severity-emergency > div {
    color: #600000;
    background: #ffd4dc;
    border-color: #c40000;
}

.request.error,
.request.critical,
.request.alert,
.request.emergency
{
    border-color: #c40000;
}

.opener {
    font-weight: 800;
    display: inline-block;
    float: right;
    font-size: 30px;
    cursor: pointer;
}

.request-uri {
    display: inline-block;
    max-width: 90%;
    white-space: nowrap;
    overflow: hidden;
}

.open .request-uri.short {
    display: none;
}


.request-uri.long {
    display: none;
    line-break: anywhere;
    white-space: normal;
}

.open .request-uri.long {
    display: inline-block;
}

#loading-bar {
    height: 3px;
    line-height: 3px;
    background: #e9fcff;
    overflow: hidden;
    position: relative;
    /*border-bottom: cornflowerblue solid 1px;*/
}
#loading-indicator {
    background: dodgerblue;
    width: 50px;
    height: 3px;
    line-height: 3px;
    position: absolute;
    left: -50px;
    top: 0;
}

@keyframes indicate-loading {
    0% {left: -50px;}
    100% {left: 100%;}
}

.loading {
    animation-duration: 2s;
    animation-name: indicate-loading;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.buttons {
    display: inline-block;
    float: right;
}

.buttons > span {
    cursor: pointer;
    padding: 3px;
    border: 1px solid grey;
    border-radius: 3px;
}

.buttons > input {
    padding: 3px;
    border: 1px solid grey;
    border-radius: 3px;
}


.collapse {
    background: darkseagreen;
}

#scroll.active {
    background: darkseagreen;
    color: #2b542c;
}

#scroll {
    background: indianred;
    color: white;
}

.level {
    font-size: 20px;
    padding-top: 1px;
    width: 25px;
    height: 21px;
    overflow: visible;
    float: left;
    margin-right: .3em;
}

.level.icon-info-circled {
    color: #5b749b;
}

.level.icon-attention {
    color: #ce872b;
}

.level.icon-attention-circled {
    color: yellow;
}

.level.icon-cancel-circled {
    color: darkred;
}

.found {
    color: white;
    background: red;
    text-decoration: underline;
}

.results-available {
    border: 1px solid red;
}
